<h1>Landing page</h1>
<%= link_to 'Privacy Policy', privacy_policy_path, class: 'btn btn-primary btn-sm' %>

<%= link_to courses_path, class: 'btn btn-primary btn-sm' %>

<i class="far fa-address-book"></i>

<i class="fa-solid fa-dumpster"></i>