%h1 Landing page
= link_to 'Privacy Policy', privacy_policy_path, class: 'btn btn-primary btn-sm'
= link_to 'Courses', courses_path, class: 'btn btn-primary btn-sm'
%i.far.fa-address-book
%i.fa-solid.fa-dumpster
