- content_for :title do
  Corsego 
  \|
  =@enrolment


%h1 Editing enrolment

.card
  .card-header
    %h1 Editing enrolment
  .card-body 
    = render 'form'
  .card-footer
    = link_to 'Back', enrolments_path