- content_for :title do
  Corsego 
  \|
  New enrollment

.card
  .card-header
    %h1 
      .fa.fa-lock-open
      New enrolment
  .card-body 
    = render 'form'
  .card-footer
    = link_to 'Back', enrolments_path