- content_for :title do
  Corsego 
  \|
  Online Courses | Learn anything


.jumbotron
  .container
    %h1 What do you want to learn today?
    %p
    .my-2.my-lg-0
    -if current_user
      = search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
        .input-group
          = f.search_field :title_cont, class: 'form-control-sm', style: 'float: left; width: 150px; ', placeholder: 'Find a course', :autocomplete => :off
          %span.input-group-append
            %button.btn.btn-primary.btn-sm{:type => "submit"}
              %span.fa.fa-search{"aria-hidden" => "true"}
    -# .form-inline.my-2.my-lg-0
    -#   = form_tag(courses_path, method: :get) do
    -#     .input-group
    -#       = text_field_tag :title, params[:title], autocomplete: 'off', placeholder: "Search", class: 'form-control-sm'
    -#       %span.input-group-append
    -#         %button.btn.btn-primary.btn-sm{:type => "submit"}
    -#           %span.fa.fa-search{"aria-hidden" => "true"}
  
%hr
  %h2 Popular courses
.row.row-cols-1.row-cols-md-3
  -@popular_courses.each do |course|
    =render 'courses/course', course: course

%hr
  %h2 Most recent courses
.row.row-cols-1.row-cols-md-3
  -@recent_courses.each do |course|
    =render 'courses/course', course: course

%hr
  %h2 Top rated courses
.row.row-cols-1.row-cols-md-3
  -@top_rated_courses.each do |course|
    =render 'courses/course', course: course