- content_for :title do
  Corsego 
  \/
  = @lesson.course.title
  \/
  = @lesson.title

= link_to 'Courses', courses_path

=render 'lessons/lesson', lesson: @lesson

= link_to 'Back', course_path(@lesson.course)
\|

