- flash.each do |name, msg| 

  - if msg.is_a?(String)
    %div.alert.alert-dismissible.fade.show{"class" => "alert alert-#{name.to_s === 'notice'? 'success' : 'warning'}", :role => 'alert'}
      = content_tag :div, msg, :id => "flash_#{name}"
      %button.btn-close{  :type => "button", "aria-label" => "Close", "data-bs-dismiss" => "alert"}

